<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="doritos">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="6.0593521422625E-08 -8.42661840305681E-08 0.00790002884595331"
        rpy="0 0 0" />
      <mass
        value="0.309003513658323" />
      <inertia
        ixx="0.000766890381512675"
        ixy="5.58847532795526E-10"
        ixz="-9.65631091350701E-11"
        iyy="0.00076688894254315"
        iyz="4.50550456438557E-11"
        izz="0.00150930436863229" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="upper_1">
    <inertial>
      <origin
        xyz="0.0328480291045503 0.0100498824762653 -0.0106112302747938"
        rpy="0 0 0" />
      <mass
        value="0.0127656949358481" />
      <inertia
        ixx="1.51817726252573E-06"
        ixy="-2.21451762777781E-06"
        ixz="7.88172101588101E-07"
        iyy="8.08446105732852E-06"
        iyz="2.40968114022457E-07"
        izz="8.56469039127584E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/upper_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/upper_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rev_1"
    type="continuous">
    <origin
      xyz="-0.055911 -0.017234 0.023"
      rpy="1.5708 0 -2.618" />
    <parent
      link="base_link" />
    <child
      link="upper_1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="right_1">
    <inertial>
      <origin
        xyz="-0.0489856869970038 0.0754472339163971 -0.00147226827610725"
        rpy="0 0 0" />
      <mass
        value="0.0071059183717293" />
      <inertia
        ixx="4.52843937662123E-06"
        ixy="2.8742404742972E-06"
        ixz="-5.47709609144849E-08"
        iyy="1.96053278777817E-06"
        iyz="8.84140744189264E-08"
        izz="6.43890262010603E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/right_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/right_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_sphere_1"
    type="continuous">
    <origin
      xyz="0.076673 0.022976 -0.0014997"
      rpy="0 0 0" />
    <parent
      link="upper_1" />
    <child
      link="right_1" />
    <axis
      xyz="0.70301 0.44508 -0.55468" />
  </joint>
  <link
    name="left_1">
    <inertial>
      <origin
        xyz="-0.0497145964961205 0.0749696941250675 -0.00143327539371696"
        rpy="0 0 0" />
      <mass
        value="0.00710591828992989" />
      <inertia
        ixx="4.47248938676549E-06"
        ixy="2.89861618867103E-06"
        ixz="-5.41006373436835E-08"
        iyy="2.01639449974615E-06"
        iyz="8.55918743003149E-08"
        izz="6.43899086676786E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/left_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/left_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_sphere_1"
    type="continuous">
    <origin
      xyz="0.076239 0.02393 -0.0245"
      rpy="0 0 0" />
    <parent
      link="upper_1" />
    <child
      link="left_1" />
    <axis
      xyz="0.69841 0.45198 -0.55492" />
  </joint>
  <link
    name="upper_2">
    <inertial>
      <origin
        xyz="-0.0328480230649131 -0.010049880625121 -0.0106112366574054"
        rpy="0 0 0" />
      <mass
        value="0.0127656950984725" />
      <inertia
        ixx="1.51817641370884E-06"
        ixy="-2.21451547331946E-06"
        ixz="-7.88175293047432E-07"
        iyy="8.08445755585885E-06"
        iyz="-2.40969103695848E-07"
        izz="8.5646858275893E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/upper_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/upper_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rev_2"
    type="continuous">
    <origin
      xyz="0.042881 -0.039803 0.023"
      rpy="-1.5708 0 2.618" />
    <parent
      link="base_link" />
    <child
      link="upper_2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="right_2">
    <inertial>
      <origin
        xyz="0.0489857125435977 -0.0754472201599349 -0.00147225833459808"
        rpy="0 0 0" />
      <mass
        value="0.00710592124076721" />
      <inertia
        ixx="4.52843767130364E-06"
        ixy="2.87424135280491E-06"
        ixz="5.47714974777083E-08"
        iyy="1.96053475117648E-06"
        iyz="-8.84148469041546E-08"
        izz="6.43890278411291E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/right_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/right_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_sphere_2"
    type="continuous">
    <origin
      xyz="-0.076673 -0.022976 -0.0014997"
      rpy="0 0 0" />
    <parent
      link="upper_2" />
    <child
      link="right_2" />
    <axis
      xyz="0.33467 0.23487 -0.9126" />
  </joint>
  <link
    name="left_2">
    <inertial>
      <origin
        xyz="0.0496354836544772 -0.0750220163559944 -0.00143751752650134"
        rpy="0 0 0" />
      <mass
        value="0.00710591746831051" />
      <inertia
        ixx="4.47248739864575E-06"
        ixy="2.89861699977625E-06"
        ixz="5.41002903515971E-08"
        iyy="2.01639646780455E-06"
        iyz="-8.55912883851399E-08"
        izz="6.4389908204482E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/left_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/left_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_sphere_2"
    type="continuous">
    <origin
      xyz="-0.076239 -0.02393 -0.0245"
      rpy="0 0 0" />
    <parent
      link="upper_2" />
    <child
      link="left_2" />
    <axis
      xyz="0.33223 0.23753 -0.9128" />
  </joint>
  <link
    name="upper_3">
    <inertial>
      <origin
        xyz="0.0328480258041284 0.0100498874223419 -0.0106112431583106"
        rpy="0 0 0" />
      <mass
        value="0.0127656949799107" />
      <inertia
        ixx="1.51817820273561E-06"
        ixy="-2.21451837116928E-06"
        ixz="7.88178881590604E-07"
        iyy="8.08445954395139E-06"
        iyz="2.40970481916451E-07"
        izz="8.56468907992422E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/upper_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/upper_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rev_3"
    type="continuous">
    <origin
      xyz="0.01303 0.057037 0.023"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="upper_3" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="right_3">
    <inertial>
      <origin
        xyz="-0.0489060879529677 0.07549877693586 -0.00147651668624893"
        rpy="0 0 0" />
      <mass
        value="0.00710591836640399" />
      <inertia
        ixx="4.52843614777301E-06"
        ixy="2.87424206289566E-06"
        ixz="-5.47711375827628E-08"
        iyy="1.96053606999219E-06"
        iyz="8.84142014191114E-08"
        izz="6.43890267616684E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/right_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/right_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_sphere_3"
    type="continuous">
    <origin
      xyz="0.076673 0.022976 -0.0014997"
      rpy="0 0 0" />
    <parent
      link="upper_3" />
    <child
      link="right_3" />
    <axis
      xyz="0.79662 0.52256 0.30386" />
  </joint>
  <link
    name="left_3">
    <inertial>
      <origin
        xyz="-0.0496354937123868 0.075022010670718 -0.00143753924664602"
        rpy="0 0 0" />
      <mass
        value="0.00710591839982534" />
      <inertia
        ixx="4.47248671711069E-06"
        ixy="2.89861748166093E-06"
        ixz="-5.41008260623705E-08"
        iyy="2.01639723758302E-06"
        iyz="8.5592037390335E-08"
        izz="6.43899093516694E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/left_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/left_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_sphere_3"
    type="continuous">
    <origin
      xyz="0.076239 0.02393 -0.0245"
      rpy="0 0 0" />
    <parent
      link="upper_3" />
    <child
      link="left_3" />
    <axis
      xyz="0.79147 0.53007 0.3043" />
  </joint>
  <link
    name="ee_link">
    <inertial>
      <origin
        xyz="-6.33763264090703E-10 7.25181692473598E-10 -0.00399999964634512"
        rpy="0 0 0" />
      <mass
        value="0.0239359502125054" />
      <inertia
        ixx="5.35032571481648E-06"
        ixy="-1.04789467694869E-14"
        ixz="7.98334923773091E-14"
        iyy="5.35032547444472E-06"
        iyz="2.66805366146786E-13"
        izz="1.04214183418151E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/ee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doritos/meshes/ee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base"
    type="fixed">
    <origin
      xyz="-0.13328 0.15398 0.01147"
      rpy="-1.5708 0.91301 0" />
    <parent
      link="left_3" />
    <child
      link="ee_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>